
.vagrant

#
# Ignore all Splunk packages
#
splunk*.deb

#
# Ignore all logs directories
#
*logs/

#
# These are written from templates, so we don't want them in revision control
#
splunk-search-head/outputs.conf
splunk-search-head/distsearch.conf

#
# This is written if we are using runtime.sh in development
#
add-indexers.sh

